#### Script generation solely to add department_name to the main DF

In [7]:
#Importing Libraries:

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [8]:
path = r'C:\Users\mojos\OneDrive\Career Foundry Course\Task4 - InstaCart Project\02 Data'

In [9]:
ords_prods_custs = pd.read_pickle(os.path.join(path,'Prepared Data','ords_prods_custs_merge.pkl'))

In [10]:
df_dep = pd.read_csv(os.path.join(path,'Raw Data','departments.csv'),index_col = False)

In [11]:
df_dep.head()

,department_id,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

In [12]:
#Departments requires transposing an re-wrangling to be in a usable format
df_dep_t = df_dep.T

In [13]:
#Correcting the column names step 1. Index Reset
df_dep_t.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

In [14]:
#Correcting the column names step 2. Isolating the Department titles in row 0.
new_header = df_dep_t.iloc[0]

In [15]:
#Correcting the column names step 3. Removing the column titles and redefining the df as the first row w/ values.
df_dep_t_new = df_dep_t[1:]

In [16]:
#Correcting the column names step 4. Re-Assigning names to the columns using the previous new_header data
df_dep_t_new.columns = new_header

In [17]:
#Validating the two columns we will be merging to ensure they are the same data types:
ords_prods_custs['department_id'].dtype

dtype('int64')

In [18]:
df_dep_t_new = df_dep_t_new.reset_index(drop=False)

In [19]:
df_dep_t_new.rename(columns = {'index' : 'department_id'},inplace=True)

In [20]:
df_dep_t_new.index.name ='index'

In [21]:
df_dep_t_new['department_id'].dtype

dtype('O')

In [22]:
#Values in our ords_prods_custs file are int64 - since there this column is meant to act as a key, and the numbers have no statistical significance the column on this DF can be converted to string/object
ords_prods_custs['department_id'] = ords_prods_custs['department_id'].astype('str')

In [23]:
#Validate the output
ords_prods_custs['department_id'].dtype

dtype('O')

In [25]:
ords_prods_custs = ords_prods_custs.merge(df_dep_t_new, on ='department_id')

In [26]:
ords_prods_custs.shape

(32404859, 35)

In [27]:
ords_prods_custs.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,...,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income,_merge,department
0,2539329,1,prior,1,2,8,NaN,First Order,196,1,...,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both,beverages
1,2398795,1,prior,2,3,7,15.0,Repeat Customer,196,1,...,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both,beverages
2,473747,1,prior,3,3,12,21.0,Repeat Customer,196,1,...,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both,beverages
3,2254736,1,prior,4,4,7,29.0,Repeat Customer,196,1,...,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both,beverages
4,431534,1,prior,5,4,15,28.0,Repeat Customer,196,1,...,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,both,beverages

In [29]:
ords_prods_custs['department'].value_counts(dropna = False)

department
produce            9479291
dairy eggs         5398747
snacks             2887550
beverages          2688123
frozen             2234743
pantry             1875369
bakery             1172428
canned goods       1068058
deli               1051249
dry goods pasta     866627
household           738666
meat seafood        708927
breakfast           703033
personal care       447572
babies              423802
international       269253
alcohol             153696
pets                 97716
missing              69145
other                36291
bulk                 34573
Name: count, dtype: int64

In [30]:
#Exporting to pickle to be used in subsequent scripts
ords_prods_custs.to_pickle(os.path.join(path,'ords_prods_custs_with_departments.pkl'))