# ex 4.7 - Reading Walkthrough

In [1]:
#Library Importing

import pandas as pd
import numpy as np
import os

In [2]:
#Pathway generation
path = r'C:\Users\mojos\OneDrive\Career Foundry Course\Task4 - InstaCart Project\02 Data\Prepared Data'

In [3]:
#Pickle File Importing
df_ords_prods_merge = pd.read_pickle(os.path.join(path,'ords_prods_merge.pkl'))

In [4]:
#Working in a subset of data
df = df_ords_prods_merge[:1000000]

In [5]:
df.shape

(1000000, 16)

In [6]:
#Defining function
def price_label(row):
    if row['prices'] <= 5:
        return 'Low range product'
    elif (row['prices'] >5) and (row['prices'] <=15):
        return 'Mid range product'
    elif row['prices'] >15:
        return 'High range product'
    else: return np.nan

In [7]:
#Executing Function
df['price_range'] = df.apply(price_label, axis = 1)

C:\Users\mojos\AppData\Local\Temp\ipykernel_24612\1565339739.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis = 1)

In [8]:
df['price_range'].value_counts()

price_range
Mid range product    756450
Low range product    243550
Name: count, dtype: int64

In [9]:
df['prices'].max()

14.8

In [10]:
#using loc() instead.
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\mojos\AppData\Local\Temp\ipykernel_24612\3865429526.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [11]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [12]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [13]:
#Checking the results against the previous user-defined function
df['price_range_loc'].value_counts()

price_range_loc
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

In [14]:
#Actioning on the entire dataframe

df_ords_prods_merge.loc[df_ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [15]:
df_ords_prods_merge.loc[(df_ords_prods_merge['prices'] <= 15) & (df_ords_prods_merge['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [16]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [17]:
df_ords_prods_merge['price_range_loc'].value_counts()

price_range_loc
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: count, dtype: int64

In [18]:
df_ords_prods_merge["orders_day_of_week"].value_counts()

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [22]:
#using a for-loop to create a new variable that defines order days frequency 

result = []

for value in df_ords_prods_merge["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [23]:
#Since the output of the for-loop is stuck in a separate list that is not currently associated to our main df, we need to place it in a new column
df_ords_prods_merge["busiest_day"] = result

In [24]:
#Checking the output - The most/least frequent results match the output from the prior days of the week check
df_ords_prods_merge["busiest_day"].value_counts()

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

## Task run through

#### Step 2. Creating new column that indicates multiple days as most/least busy

In [30]:
#Using for-loop with IF and OR

result = []

for value in df_ords_prods_merge["orders_day_of_week"]:
  if (value == 0) |(value == 1):
    result.append("Busiest days")
  elif (value == 4) |(value == 3):
    result.append("Slowest Days")
  else:
    result.append("Regularly busy")

In [31]:
#Intergrating the new results into the main dataframe

df_ords_prods_merge["busiest_days"] = result

#### Step 3. Validating the intergration and value counts

In [32]:
df_ords_prods_merge["busiest_days"].value_counts()

busiest_days
Regularly busy    12916111
Busiest days      11864412
Slowest Days       7624336
Name: count, dtype: int64

In [33]:
df_ords_prods_merge["busiest_days"].shape

(32404859,)

In [34]:
df_ords_prods_merge.shape

(32404859, 19)

#### Step 4. identifying the busiest hours of the day and creating a new variable that highlights each period

In [35]:
df_ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days
0,2539329,1,prior,1,2,8,NaN,First Order,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy
1,2398795,1,prior,2,3,7,15.0,Repeat Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest Days
2,473747,1,prior,3,3,12,21.0,Repeat Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest Days
3,2254736,1,prior,4,4,7,29.0,Repeat Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest Days
4,431534,1,prior,5,4,15,28.0,Repeat Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest Days

In [37]:
# order_hour_of_day has been isolated as the name of the column, now we need to check the most/least busy periods.
df_ords_prods_merge['order_hour_of_day'].value_counts()

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [40]:
#Based of the frequency above, there is quite a drastic difference between the hours with the largest count of orders and the hour with the lowest value.
#

result = []

for value in df_ords_prods_merge["order_hour_of_day"]:
  if (value == 10) |(value == 11):
    result.append("Most orders")
  elif (value == 4) |(value == 3):
    result.append("Fewest orders")
  else:
    result.append("Average orders")

In [41]:
df_ords_prods_merge["busiest_period_of_day"] = result

#### Step 5. printing the frequency of the new column

In [42]:
df_ords_prods_merge["busiest_period_of_day"].value_counts()

busiest_period_of_day
Average orders    26802436
Most orders        5497900
Fewest orders       104523
Name: count, dtype: int64

In [43]:
#Final clean up before converting to pickle 
df_ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,First Order,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,prior,2,3,7,15.0,Repeat Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest Days,Average orders
2,473747,1,prior,3,3,12,21.0,Repeat Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest Days,Average orders
3,2254736,1,prior,4,4,7,29.0,Repeat Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest Days,Average orders
4,431534,1,prior,5,4,15,28.0,Repeat Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest Days,Average orders

In [46]:
#original busiest day can be removed as we have instead created a busiest day (plural) column instead which yields similarly named results.

df_ords_prods_merge = df_ords_prods_merge.drop(columns = ["busiest_day"])

In [47]:
#Checking the results
df_ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_days,busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,First Order,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Average orders
1,2398795,1,prior,2,3,7,15.0,Repeat Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest Days,Average orders
2,473747,1,prior,3,3,12,21.0,Repeat Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest Days,Average orders
3,2254736,1,prior,4,4,7,29.0,Repeat Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest Days,Average orders
4,431534,1,prior,5,4,15,28.0,Repeat Customer,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest Days,Average orders

#### Step 7. exporting to pickle

In [49]:
df_ords_prods_merge.to_pickle(os.path.join(path,'ords_prods_merge_new_variables.pkl'))