# 4.8 Aggregation and Grouping

### Step 1.

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\mojos\OneDrive\Career Foundry Course\Task4 - InstaCart Project\02 Data\Prepared Data'

In [3]:
ords_prods_merge = pd.read_pickle(os.path.join(path,'ords_prods_merge_loyalty.pkl'))

##### libraries and .pkl file have been imported
##### the .pkl file contains the final section of the reading so the loyalty flag has all ready been created and applied to the whole dataframe.

### Step 2.

In [4]:
# Applying the group by department and max order arguments to the whole dataframe

ords_prods_merge.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                15.457838   1  99
2                17.277920   1  99
3                17.170395   1  99
4                17.811403   1  99
5                15.215751   1  99
6                16.439806   1  99
7                17.225802   1  99
8                15.340650   1  99
9                15.895474   1  99
10               20.197148   1  99
11               16.170638   1  99
12               15.887671   1  99
13               16.583536   1  99
14               16.773669   1  99
15               16.165037   1  99
16               17.665606   1  99
17               15.694469   1  99
18               19.310397   1  99
19               17.177343   1  99
20               16.473447   1  99
21               22.902379   1  99

### Step 3. Analyzing the results: Generally speaking the the mean values for the department_ids present in both lists decreased. This could indicate that actual customer usage rates are lower than previously anticipated. It wouldn't necessarily provide the whole picture though. The subset of data appeared to hold customer data related to early adopters (indicated by 'user_id' #1 for example. This cohort have had a longer life cycle to place more orders which in turn inflates the mean values. Running this group by formula on all customers/orders within the dataframe poses other problems in that it brings in newer user_ids that have not had the time to build up as much loyalty to instacart, bringing down the mean.

### Step 4. Flag already generated as indicated - See head() below that highlights the relevant column

In [5]:
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head()

   user_id  loyalty_flag  order_number
0        1  New customer             1
1        1  New customer             2
2        1  New customer             3
3        1  New customer             4
4        1  New customer             5

### Step 5.

In [6]:
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

#### Loyal customers on average by products that are slightly cheaper than newer customers - one speculation as to why could perhaps be that given their duration with instacart they have now whittled down their orders to those that hold the most value, rather than trying different products that vary in price

### Step 6.

#### Per the question,  the requirement would be done in 2 steps: 1) Use .transform to create an aggregate/group by that is added as a column into the main dataframe, then 2) use the .loc function to create two 'if' style flags that indicate a customers (Cx) spending preferences

In [8]:
#Creating a column for mean product price per user_id
ords_prods_merge['mean_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\mojos\AppData\Local\Temp\ipykernel_21912\3498782550.py:1: FutureWarning: The provided callable <function mean at 0x00000152625328E0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['mean_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [10]:
#Validation
ords_prods_merge.head(15)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,...,aisle_id,department_id,prices,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price
0,2539329,1,prior,1,2,8,NaN,First Order,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797
1,2398795,1,prior,2,3,7,15.0,Repeat Customer,196,1,...,77,7,9.0,both,Mid-range product,Slowest Days,Average orders,10,New customer,6.367797
2,473747,1,prior,3,3,12,21.0,Repeat Customer,196,1,...,77,7,9.0,both,Mid-range product,Slowest Days,Average orders,10,New customer,6.367797
3,2254736,1,prior,4,4,7,29.0,Repeat Customer,196,1,...,77,7,9.0,both,Mid-range product,Slowest Days,Average orders,10,New customer,6.367797
4,431534,1,prior,5,4,15,28.0,Repeat Customer,196,1,...,77,7,9.0,both,Mid-range product,Slowest Days,Average orders,10,New customer,6.367797
5,3367565,1,prior,6,2,7,19.0,Repeat Customer,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797
6,550135,1,prior,7,1,9,20.0,Repeat Customer,196,1,...,77,7,9.0,both,Mid-range product,Busiest days,Average orders,10,New customer,6.367797
7,3108588,1,prior,8,1,14,14.0,Repeat Customer,196,2,...,77,7,9.0,both,Mid-range product,Busiest days,Average orders,10,New customer,6.367797
8,2295261,1,prior,9,1,16,0.0,Repeat Customer,196,4,...,77,7,9.0,both,Mid-range product,Busiest days,Average orders,10,New customer,6.367797
9,2550362,1,prior,10,4,8,30.0,Repeat Customer,196,1,...,77,7,9.0,both,Mid-range product,Slowest Days,Average orders,10,New customer,6.367797
10,2968173,15,prior,15,1,9,7.0,Repeat Customer,196,2,...,77,7,9.0,both,Mid-range product,Busiest days,Average orders,22,Regular customer,3.980556
11,1870022,15,prior,17,2,16,8.0,Repeat Customer,196,6,...,77,7,9.0,both,Mid-range product,Regularly busy,Average orders,22,Regular customer,3.980556
12,1911383,15,prior,18,2,11,7.0,Repeat Customer,196,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Most orders,22,Regular customer,3.980556
13,2715276,15,prior,21,1,9,7.0,Repeat Customer,196,1,...,77,7,9.0,both,Mid-range product,Busiest days,Average orders,22,Regular customer,3.980556
14,487368,15,prior,22,1,10,14.0,Repeat Customer,196,1,...,77,7,9.0,both,Mid-range product,Busiest days,Most orders,22,Regular customer,3.980556

In [11]:
ords_prods_merge.loc[ords_prods_merge['mean_price'] >= 10, 'cx_spend_type'] = 'High spender'

In [12]:
ords_prods_merge.loc[ords_prods_merge['mean_price'] < 10, 'cx_spend_type'] = 'Low spender'

In [19]:
#Check to see if flags were generated
ords_prods_merge['cx_spend_type'].value_counts(dropna = False)

cx_spend_type
Low spender     31770614
High spender      634245
Name: count, dtype: int64

In [45]:
#The above count equates to 32404859 values - does this match the overall df shape?
ords_prods_merge.shape
#Answer after executing, Yes!

(32404859, 25)

### Step 7.

#### Requirements for median days since prior order to be actioned in two steps using a group by and agg, followed by a .loc function

In [20]:
#Creating a column for median days_since_prior_order per user_id
ords_prods_merge['order_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\mojos\AppData\Local\Temp\ipykernel_21912\601919667.py:2: FutureWarning: The provided callable <function median at 0x0000015262673880> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['order_frequency'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [21]:
#Validation
ords_prods_merge.head(15)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,...,prices,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price,cx_spend_type,order_frequency
0,2539329,1,prior,1,2,8,NaN,First Order,196,1,...,9.0,both,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5
1,2398795,1,prior,2,3,7,15.0,Repeat Customer,196,1,...,9.0,both,Mid-range product,Slowest Days,Average orders,10,New customer,6.367797,Low spender,20.5
2,473747,1,prior,3,3,12,21.0,Repeat Customer,196,1,...,9.0,both,Mid-range product,Slowest Days,Average orders,10,New customer,6.367797,Low spender,20.5
3,2254736,1,prior,4,4,7,29.0,Repeat Customer,196,1,...,9.0,both,Mid-range product,Slowest Days,Average orders,10,New customer,6.367797,Low spender,20.5
4,431534,1,prior,5,4,15,28.0,Repeat Customer,196,1,...,9.0,both,Mid-range product,Slowest Days,Average orders,10,New customer,6.367797,Low spender,20.5
5,3367565,1,prior,6,2,7,19.0,Repeat Customer,196,1,...,9.0,both,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5
6,550135,1,prior,7,1,9,20.0,Repeat Customer,196,1,...,9.0,both,Mid-range product,Busiest days,Average orders,10,New customer,6.367797,Low spender,20.5
7,3108588,1,prior,8,1,14,14.0,Repeat Customer,196,2,...,9.0,both,Mid-range product,Busiest days,Average orders,10,New customer,6.367797,Low spender,20.5
8,2295261,1,prior,9,1,16,0.0,Repeat Customer,196,4,...,9.0,both,Mid-range product,Busiest days,Average orders,10,New customer,6.367797,Low spender,20.5
9,2550362,1,prior,10,4,8,30.0,Repeat Customer,196,1,...,9.0,both,Mid-range product,Slowest Days,Average orders,10,New customer,6.367797,Low spender,20.5
10,2968173,15,prior,15,1,9,7.0,Repeat Customer,196,2,...,9.0,both,Mid-range product,Busiest days,Average orders,22,Regular customer,3.980556,Low spender,10.0
11,1870022,15,prior,17,2,16,8.0,Repeat Customer,196,6,...,9.0,both,Mid-range product,Regularly busy,Average orders,22,Regular customer,3.980556,Low spender,10.0
12,1911383,15,prior,18,2,11,7.0,Repeat Customer,196,1,...,9.0,both,Mid-range product,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,10.0
13,2715276,15,prior,21,1,9,7.0,Repeat Customer,196,1,...,9.0,both,Mid-range product,Busiest days,Average orders,22,Regular customer,3.980556,Low spender,10.0
14,487368,15,prior,22,1,10,14.0,Repeat Customer,196,1,...,9.0,both,Mid-range product,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,10.0

In [24]:
ords_prods_merge.loc[ords_prods_merge['order_frequency'] > 20, 'cx_order_frequency'] = 'Non-frequent customer'

In [25]:
ords_prods_merge.loc[(ords_prods_merge['order_frequency'] > 10) & (ords_prods_merge['order_frequency'] <= 20), 'cx_order_frequency'] = 'Regular customer'

In [32]:
ords_prods_merge.loc[ords_prods_merge['order_frequency'] <=10, 'cx_order_frequency'] = 'Frequent customer'

In [33]:
ords_prods_merge['cx_order_frequency'].value_counts(dropna = False)

cx_order_frequency
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
nan                             5
Name: count, dtype: int64

In [39]:
ords_prods_merge.head(50)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,...,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price,cx_spend_type,order_frequency,cx_order_frequency
0,2539329,1,prior,1,2,8,NaN,First Order,196,1,...,both,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,prior,2,3,7,15.0,Repeat Customer,196,1,...,both,Mid-range product,Slowest Days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,prior,3,3,12,21.0,Repeat Customer,196,1,...,both,Mid-range product,Slowest Days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,prior,4,4,7,29.0,Repeat Customer,196,1,...,both,Mid-range product,Slowest Days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,prior,5,4,15,28.0,Repeat Customer,196,1,...,both,Mid-range product,Slowest Days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
5,3367565,1,prior,6,2,7,19.0,Repeat Customer,196,1,...,both,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
6,550135,1,prior,7,1,9,20.0,Repeat Customer,196,1,...,both,Mid-range product,Busiest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
7,3108588,1,prior,8,1,14,14.0,Repeat Customer,196,2,...,both,Mid-range product,Busiest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
8,2295261,1,prior,9,1,16,0.0,Repeat Customer,196,4,...,both,Mid-range product,Busiest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
9,2550362,1,prior,10,4,8,30.0,Repeat Customer,196,1,...,both,Mid-range product,Slowest Days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
10,2968173,15,prior,15,1,9,7.0,Repeat Customer,196,2,...,both,Mid-range product,Busiest days,Average orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
11,1870022,15,prior,17,2,16,8.0,Repeat Customer,196,6,...,both,Mid-range product,Regularly busy,Average orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
12,1911383,15,prior,18,2,11,7.0,Repeat Customer,196,1,...,both,Mid-range product,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
13,2715276,15,prior,21,1,9,7.0,Repeat Customer,196,1,...,both,Mid-range product,Busiest days,Average orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
14,487368,15,prior,22,1,10,14.0,Repeat Customer,196,1,...,both,Mid-range product,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
15,2293453,19,prior,2,5,14,6.0,Repeat Customer,196,3,...,both,Mid-range product,Regularly busy,Average orders,9,New customer,8.372059,Low spender,6.0,Frequent customer
16,1973799,19,prior,5,6,12,8.0,Repeat Customer,196,15,...,both,Mid-range product,Regularly busy,Average orders,9,New customer,8.372059,Low spender,6.0,Frequent customer
17,532817,19,prior,7,4,17,6.0,Repeat Customer,196,1,...,both,Mid-range product,Slowest Days,Average orders,9,New customer,8.372059,Low spender,6.0,Frequent customer
18,1573906,21,prior,10,3,10,6.0,Repeat Customer,196,2,...,both,Mid-range product,Slowest Days,Most orders,33,Regular customer,7.012683,Low spender,7.5,Frequent customer
19,1593000,31,prior,10,3,8,7.0,Repeat Customer,196,17,...,both,Mid-range product,Slowest Days,Average orders,20,Regular customer,8.137793,Low spender,6.0,Frequent customer
20,2231262,31,prior,17,3,11,8.0,Repeat Customer,196,14,...,both,Mid-range product,Slowest Days,Most orders,20,Regular customer,8.137793,Low spender,6.0,Frequent customer
21,2580647,43,prior,6,4,16,4.0,Repeat Customer,196,9,...,both,Mid-range product,Slowest Days,Average orders,11,Regular customer,7.444898,Low spender,10.0,Frequent customer
22,2187180,43,prior,9,4,12,3.0,Repeat Customer,196,1,...,both,Mid-range product,Slowest Days,Average orders,11,Regular customer,7.444898,Low spender,10.0,Frequent customer
23,2497897,52,prior,1,1,9,NaN,First Order,196,4,...,both,Mid-range product,Busiest days,Average orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
24,1318871,52,prior,2,1,10,7.0,Repeat Customer,196,5,...,both,Mid-range product,Busiest days,Most orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
25,1261384,52,prior,3,1,10,7.0,Repeat Customer,196,3,...,both,Mid-range product,Busiest days,Most orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
26,580568,52,prior,5,2,10,8.0,Repeat Customer,196,6,...,both,Mid-range product,Regularly busy,Most orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
27,2428073,52,prior,7,2,7,8.0,Repeat Customer,196,5,...,both,Mid-range product,Regularly busy,Average orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
28,342306,52,prior,9,1,11,7.0,Repeat Customer,196,5,...,both,Mid-range product,Busiest days,Most orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
29,1520353,52,prior,10,2,10,8.0,Repeat Customer,196,4,...,both,Mid-range product,Regularly busy,Most orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
30,2542086,52,prior,11,2,9,7.0,Repeat Customer,196,3,...,both,Mid-range product,Regularly busy,Average orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
31,944694,52,prior,12,1,16,6.0,Repeat Customer,196,7,...,both,Mid-range product,Busiest days,Average orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
32,1268191,52,prior,15,2,11,8.0,Repeat Customer,196,3,...,both,Mid-range product,Regularly busy,Most orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
33,1122089,52,prior,17,2,10,6.0,Repeat Customer,196,4,...,both,Mid-range product,Regularly busy,Most orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
34,1498922,52,prior,18,2,10,14.0,Repeat Customer,196,6,...,both,Mid-range product,Regularly busy,Most orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
35,180919,52,prior,19,3,8,8.0,Repeat Customer,196,4,...,both,Mid-range product,Slowest Days,Average orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
36,2695875,52,prior,21,5,10,30.0,Repeat Customer,196,1,...,both,Mid-range product,Regularly busy,Most orders,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
37,3205960,67,prior,1,3,11,NaN,First Order,196,1,...,both,Mid-range product,Slowest Days,Most orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
38,970922,67,prior,2,1,15,5.0,Repeat Customer,196,2,...,both,Mid-range product,Busiest days,Average orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
39,596585,67,prior,3,1,13,7.0,Repeat Customer,196,2,...,both,Mid-range product,Busiest days,Average orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
40,2037087,67,prior,4,2,9,8.0,Repeat Customer,196,1,...,both,Mid-range product,Regularly busy,Average orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
41,2474111,67,prior,5,3,14,8.0,Repeat Customer,196,2,...,both,Mid-range product,Slowest Days,Average orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
42,1568481,67,prior,6,3,12,7.0,Repeat Customer,196,2,...,both,Mid-range product,Slowest Days,Average orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
43,2048527,67,prior,8,2,11,7.0,Repeat Customer,196,1,...,both,Mid-range product,Regularly busy,Most orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
44,2389031,67,prior,9,2,14,7.0,Repeat Customer,196,1,...,both,Mid-range product,Regularly busy,Average orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
45,2378562,67,prior,10,1,10,6.0,Repeat Customer,196,1,...,both,Mid-range product,Busiest days,Most orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
46,1515698,67,prior,11,1,11,7.0,Repeat Customer,196,1,...,both,Mid-range product,Busiest days,Most orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
47,1928050,67,prior,12,2,12,8.0,Repeat Customer,196,1,...,both,Mid-range product,Regularly busy,Average orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
48,1949274,67,prior,13,1,10,6.0,Repeat Customer,196,1,...,both,Mid-range product,Busiest days,Most orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer
49,551869,67,prior,14,1,9,7.0,Repeat Customer,196,1,...,both,Mid-range product,Busiest days,Average orders,24,Regular customer,7.656790,Low spender,7.0,Frequent customer

In [35]:
# 5x Missing values are present that need to be checked
ords_prods_merge.isnull().sum()

order_id                        0
user_id                         0
eval_set                        0
order_number                    0
orders_day_of_week              0
order_hour_of_day               0
days_since_prior_order    2076096
first_order                     0
product_id                      0
add_to_cart_order               0
reordered                       0
product_name                    0
aisle_id                        0
department_id                   0
prices                          0
_merge                          0
price_range_loc                 0
busiest_days                    0
busiest_period_of_day           0
max_order                       0
loyalty_flag                    0
mean_price                      0
cx_spend_type                   0
order_frequency                 5
cx_order_frequency              0
dtype: int64

In [42]:
ords_prods_merge_missing_frequency = ords_prods_merge[ords_prods_merge['order_frequency'].isnull() == True]

In [44]:
ords_prods_merge_missing_frequency.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,...,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price,cx_spend_type,order_frequency,cx_order_frequency
13645692,895835,159838,prior,1,0,17,NaN,First Order,10749,3,...,both,Mid-range product,Busiest days,Average orders,1,New customer,7.42,Low spender,NaN,nan
17251990,895835,159838,prior,1,0,17,NaN,First Order,33401,6,...,both,Mid-range product,Busiest days,Average orders,1,New customer,7.42,Low spender,NaN,nan
17622767,895835,159838,prior,1,0,17,NaN,First Order,23695,2,...,both,Low-range product,Busiest days,Average orders,1,New customer,7.42,Low spender,NaN,nan
24138593,895835,159838,prior,1,0,17,NaN,First Order,21334,5,...,both,Mid-range product,Busiest days,Average orders,1,New customer,7.42,Low spender,NaN,nan
25880002,895835,159838,prior,1,0,17,NaN,First Order,22198,1,...,both,Low-range product,Busiest days,Average orders,1,New customer,7.42,Low spender,NaN,nan

#### These are clients who have not yet placed any second orders and as such the formula has not yet been able to calculate a numerical value for the order frequency. We already have a first order flag that indicates these are the first orders, and that these are new customers (loyalty flag) so I don't think it's necessary in this isntance to generate an additional flag for these order frequency NaNs.

### Step 9. Exporting to Pickle

In [46]:
ords_prods_merge.to_pickle(os.path.join(path,'ords_prods_merge_group_agg_variables.pkl'))